.form-wrapper {
    background-color: var(--background);
    display: flex;
    border: 1px solid var(--color-green-bright);
    border-radius: 20px;
    margin: 2vh 1vw;
    width: clamp(400px, 33vw, 600px);
    min-height: 70vh;
    justify-content: center;
    transform-style: preserve-3d;
    position: relative;
}

.face {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 8px;
    color: white;
    backface-visibility: hidden;
}

.wrapper-back {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
}

.wrapper-back h1 {
    font-size: clamp(24pt, 20vw, 240pt);
}

.wrapper-front {
    width: 80%;
    transform: rotateY(180deg);
}

.form {
    width: 100%;
}

.contact-field {
    background-color: rgb(17, 17, 17);
    border: 1px solid var(--color-mustard);
    border-radius: 10px;
    font-size: clamp(10pt, 1.25vw, 18pt);
    padding: .75vh 0.5vw;
    width: 100%;
    font-weight: lighter;
}

.contact-field:placeholder-shown {
    font-style: italic;
}

.form-row {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: flex-start;
    margin: 1vh 0;
    padding: 1vh 0;
    gap: .5vh;
}

.form-label {
    display: flex;
    width: fit-content !important;
}

.submit {
    padding: 1vh 1vw;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 250ms;
}

.submit.valid:hover {
    background-color: var(--color-eggplant);
    border-color: white;
}

.submit.valid:active {
    filter: invert();
}

.message {
    font-size: clamp(12pt, 0.75vw, 22pt);
    height: 112px;
    max-height: 112px;
}

.submit.invalid {
    /* background-color: darkgray; */
    background-color: rgb(33, 33, 33);
    pointer-events: none;
    color: black;
}

.submit.valid {
    background-color: var(--color-dusk);
    cursor: pointer;
}

.error-wrapper {
    margin-left: .75vw;
}

.error-text {
    color: tomato;
    font-size: clamp(10pt, .5vw, 16pt);
}