.project-card-wrapper {
    display: flex;
    background-color: var(--color-dusk);
    border-radius: 20px;
    width: clamp(100px, 65vw, 1500px);
    height: clamp(100px, 25vh, 500px);
    transform: translateX(-100vw);
    justify-content: space-between;
    margin: 2vh;
    padding: 2vh 1vw;
}

@media (max-width: 1500px) {
    .project-card-wrapper {
        width: 1100px;
    }
}

.left-half {
    display: flex;
    width: 80%;
    gap: 1vw;
}

.left-half img {
    border-radius: 20px;
    height: 100%;
    width: auto;
}

.titles {
    display: flex;
    margin: 2vh 1vw;
    flex-direction: column;
    justify-content: center;
}

.titles h2 {
    font-size: clamp(18pt, 2vw, 42pt);
}

.titles h3 {
    font-size: clamp(14pt, 1.5vw, 22pt);
}

.right-half {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links {
    background-color: var(--background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1vw;
    width: clamp(30%, 35%, 40%);
}

.links span {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: clamp(12pt, 1vw, 1.5rem);
}

.links a {
    border: 1px solid rgba(192, 192, 192, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.links a:hover {
    /* border: 1px solid rgba(192, 192, 192, 0.5); */
    border: 1px solid transparent;
}


.links svg {
    display: inline-flex;
    align-self: center;
}

.logos {
    font-size: clamp(12pt, 1vw + 1.5rem, 2rem);
}

.logos span {
    display: flex;
    gap: 1vw;
}

.logos svg {
    display: inline-flex;
    color: var(--color-honey);
}

span.status {
    color: var(--color-mustard);
    font-size: clamp(12pt, .75vw, 26pt);
    font-style: italic;
}